<div class="message <%= "me" if message.user_id == current_user.id %>">
  <div class="content_container m-1">
    <small class="text-muted"><%= message.user_id == current_user.id ? '' : message.user.email %></small>
    <div class="content">
      <%= message.content %>
    </div>
  </div>
</div>