.chat-room {
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;

  .chat-box {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .message {
    min-height: 55px;

    .content_container {
      display: inline-block;

      .content {
        background-color: #eeeeee;
        padding: 8px 16px;
        border-radius: 20px;
        max-width: 800px;
        overflow-wrap: break-word;

      }
    }
  }

  .me {
    display: inline-block;

    .content_container {
      float: right;

      .content {
        background-color: #007bff;
        color: white;
        max-width: 800px;
        overflow-wrap: break-word;

        .content_url_mine {
          color: white;
        }
      }
    }
  }
}

.image_display {
  max-width: 200px;
}